= form_for note do |f|
  %p
    = f.text_field :title, placeholder: t('note.placeholder.title'), autofocus: title_autofocus?(f.object)
  %p
    = f.bootsy_area :body_html, placeholder: t('note.placeholder.body')
  .form-actions
    = f.submit class: 'btn btn-default'
    - if note.persisted?
      = link_to note, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } do
        %i.fa.fa-trash-o
